BasedOnStyle:                         LLVM
ColumnLimit:                          64
ReflowComments:                       true
AllowShortBlocksOnASingleLine:        false
AllowShortFunctionsOnASingleLine:     false
AllowShortIfStatementsOnASingleLine:  Never
AllowShortLoopsOnASingleLine:         false
AllowShortLambdasOnASingleLine:       false
